@media screen and (max-width: 420px) {
    .restaurant-panel{
        padding: 20px;
    }
    .search-bar{
        width: 62%;
    }

    .welcome-banner{
        padding: 20px;
    }

    .welcome-banner .delivery{
        max-width: 100%;
        height: auto;
        width: 34%;
        left: 0;
        top: 0;
    }

    .section-category{
        width: 100%;
        overflow-x: scroll;
    }

    #menu-section .menu{
        padding: 0;
        width: 100%;
    }

    .mobile-category{
        padding-bottom: 20px;
        /* text-align: right; */
    }

    #mainNav{
        top:90px;
        background: #fff;
        padding: 14px 0;
        z-index: 99999;
    }
    
    .mobile-category .dropdown>a{
        display: flex;
        justify-content: end;
        gap: 20px;
        color: #000;
    }
    .mobile-cart{
        max-width: 20%;
    }

    .order-panel{
        padding: 12px;
    }

    .order-panel #order{
        margin-top: 12px;
    }

    .food-list {
        display: grid;
        row-gap: 20px;
        padding: 0;
        margin: 35px 0 0 0;
        font-size: 10px;
        font-weight: bold;
        list-style-type: none;
    }

    .food-list__item:not(:last-child) {
        grid-template-columns: 100px 93px 62px;
    }
    .food-list__item img{
        display: none;
    }
}